/* For the Portfolio Section */
.portfolioSection {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding:3em;
}
.cardHolder {
    display:flex;
    flex-direction: row;
}

.reversed {
    transform: rotateY(180deg);
}

/* For the Portfolio Cards */
.imageWrapper {
    padding: 1.5em;
    display:grid
}

.imageWrapper img {
    width: 15em;
    aspect-ratio: 3/4;
    object-fit: cover;

    border-radius: 1em;
}