/* 
 * Naming Convention Note: since JSX struggles with hypens, I'm
 * using camelCase for the time being!  There may be a way to make
 * the hypthens work, but this seems pretty standard for modules.
 */

 .navHeader {
    display: flex;
    justify-content: space-between; 
    align-items: center;

}

.navHeader ul {
    display: flex;
    align-items: center;

    margin: 0;
    padding: 0;
    list-style: none;

}

.navHeader a {
    text-decoration: none;
    color: #FFEBE0;
    padding: 0.5em;
}


.socialMedia {
    display: flex;
    justify-content: flex-end;
}


