/* First Panel: Image Splash*/
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heroImageWrapper {
    display: grid;
    box-shadow: inset 10em, 10em, 10em, 10em;
}

.splashImage {
    width: 55em;
    height: 30em;
    border-radius: 2.5em;
}

.sectionBuffer{
    display:grid;
    width: 100%;
    height:5em; 
}

/* "subclassing" the WaveDivider bottom as .waveDivider .bottom didn't
 *work, so I made them two separate versions.  Don't love it, but it works.
 */

.waveDivider {
    width: 100%;
    height:10em;
}

.waveDividerBottom {
    width: 100%;
    height:10em;
    transform: rotateX(180deg);
}